<a href="https://colab.research.google.com/github/koto253/Data_Scientist_Daily_Routine/blob/main/loading_meteorite_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importing Libraries
import pandas as pd

In [3]:
# Loading the dataset
df = pd.read_excel('/content/drive/MyDrive/Downloads/meteorite_dataset.xlsx')

In [4]:
df

,Id,Fall,Id.1,Name,Nametype,Recclass,Location,Year,Mass
0,row-hzx5-myxf_ktcf,Fell,1,Aachen,Valid,L5,50.775 6.08333,1880-01-01T00:00:00.000,21.0
1,row-rcr3.5w34_59cn,Fell,2,Aarhus,Valid,H6,56.18333 10.23333,1951-01-01T00:00:00.000,720.0
2,row-gffa_citp-4gu8,Fell,6,Abee,Valid,EH4,54.21667 -113,1952-01-01T00:00:00.000,107000.0
3,row-tw78-y449.cqkk,Fell,10,Acapulco,Valid,Acapulcoite,16.88333 -99.9,1976-01-01T00:00:00.000,1914.0
4,row-adit.5t7p.agsg,Fell,370,Achiras,Valid,L6,-33.16667 -64.95,1902-01-01T00:00:00.000,780.0
...,...,...,...,...,...,...,...,...,...
45711,row-nqs6-zpvi~4awi,Found,57427,Northwest Africa 7863,Valid,LL5,0 0,2013-01-01T00:00:00.000,1000.0
45712,row-engy-36sr-fqc8,Found,57422,Northwest Africa 7857,Valid,LL6,0 0,2013-01-01T00:00:00.000,246.0
45713,row-6q2t-sfdp~2gbz,Found,57421,Northwest Africa 7856,Valid,LL6,0 0,2013-01-01T00:00:00.000,517.0
45714,row-5sv8.knfu.bnae,Found,57166,Northwest Africa 7755,Valid,Martian (shergottite),0 0,2013-01-01T00:00:00.000,30.0
45715,row-aeqf~vfsw.v6x5,Found,57150,Northwest Africa 7701,Valid,CK6,0 0,2101-01-01T00:00:00.000,55.0